/* ==== All Pages ==== */

body, html{
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  height:100%;
  background-color: rgb(255, 250, 240)
}

h1 {
    font-family: "Charmonman", cursive;
    color: #3d3d3d;
    margin-top: 0px;
    margin-bottom: 300px;
}

h2, h3, h4, h5, h6 {
  font-family: "Charmonman", cursive;
  color: #3d3d3d;
  margin-top: 30px;
  margin-bottom: 10px;
}

p, a {
  text-align: start;
  font-size: auto;
}

ul, .dropdown-translator, .dropdown-menu {
  list-style-type: none;
  background-color: transparent;
  border: none;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

#dropdownMenuButton {
  margin-bottom:5px;
}

/* ===== Navbar (All Pages) ===== */

.navbar {
  background: rgba(4, 93, 28, 0.90);
}

.modal-text { 
  font-size: auto;
  font-family: "Asap", sans-serif;
  color: black;
}

.modal-button { 
  font-size: auto;
  font-family: "Asap", sans-serif;
  align-items: center;
}

#radioButton1, #radioButton2 {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.card-header {
  text-align: center;
  vertical-align: text-top;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; 
}

a, a:hover {
  color: #3d3d3d;
}

/* ===== Index Page ===== */

.index-body {
  background-image: url(img/gardenia-10.jpg);
  height: 100%;
  position: relative;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* padding-top: 500px; */
  /* padding-bottom: 1000px; */
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  /* background-size: cover !important; */
  object-fit: contain;
}

/* .index-image {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.index-centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* ===== About & Locations Page Imgs ===== */

#catedral, #hotel {
  border-radius: 50% 20% / 10% 40%;; 
  margin-top: 30px;
  margin-bottom: 10px;
  float: left;
  transition: transform 0.5s;
}

#magic-town-her, #magic-town-him {
  margin-top: 20px;
  margin-left: 8px;
  max-width: 60%; 
  height: auto;
  float: right;
  border-radius: 10%;
}

#jar-her-Img, #jar-him-Img {
  margin-top: 10px;
  max-width: 100%;
  height: 300px;
  border-radius: 10%;
  transition: transform 0.5s;
}

#teotihuacan-shoes {
  margin-top: 10px;
  max-width: 100%;
  height: 605px;
  border-radius: 10%;
  transition: transform 0.5s;
}

#catedral:hover, #hotel:hover, #teotihuacan-shoes:hover, #jar-her-Img:hover, #jar-him-Img:hover {
  transform: scale(1.2);
}

/* ===== Dinner Menu Page ===== */

#dinnerCarousel {
  margin-bottom: 30px;
}
.dinner-menu li {
  list-style: none;
  text-align: center;
}

#carouselText {
  color: #eae7c4; }

#dinnerCarousel h3 {
  margin: 0;
  padding: 0;
  font-family: "Charmonman", cursive;
  font-weight: bold;
  font-size: 300%;
  text-shadow: 0px 0px 5px navy;
  outline: 5px navy;
  color: rgb(85%, 85%, 85%);
}
.dinner-menu h3 {
  margin: 0;
}
.dinner-menu li {
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
}

/* === Gift Registry Page === */

.gift {
  padding: 3px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.purchased {
  color: #ccc;
}

.purchased img {
  filter: blur(3px);
  border: 1px solid #f00;
}